/*Start General Styles*/
body {
	background: #f4f4f4
}
/*End General Styles*/

/*Start Nav Secion*/
.navbar-expand-lg .navbar-custom {
	margin-left: auto!important; /*Edit In ltr*/
}
/*End Navbar Section*/

/*Start Admin Categories Section*/
.categories h1 {
	font-size: 60px;
	color: #868e96;
}
.categories a.btn {
	float: left /*Edit In ltr*/
}
.custom-card {
    text-align: right; /*Edit In ltr*/
    overflow: hidden;
}
.custom-card .cat_section {
    border-bottom: 1px dashed #ccc;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
}
.custom-card .cat_section:first-of-type {
    padding: 0 0 10px 0;	
}
.custom-card .cat_section:last-of-type {
    border-bottom: none;
}
.custom-card .cat_section .control_section {
	position: absolute;
	left: -137px; /*Eidt in ltr*/
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out	
}
.custom-card .cat_section span {
	color: #fff;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 0 5px;	
}
.custom-card .cat_section .visible {
	background-color: #c0392b;
}
.custom-card .cat_section .comment {
	background-color: #3498db;
}
.custom-card .cat_section .ads {
	background-color: rgba(255, 129, 0, 0.72);
}
.categories .custom_submit {
	text-align: right;
    margin-right: 16.666667%;
}
/*End Admin Categories Section*/
