/*Start Global Style*/
body {
	font-family: 'Courgette', cursive;
}
/*Start Login Authentication Page*/

.auth_form {
    margin: 100px auto;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 30px;
    background-color: #eee;
}
.auth_form h3 {
	color: #007bff;
	font-family: arial tahoma verdana;
	font-size: 50px;
	font-weight: 600;
	letter-spacing: 3px;
	margin-bottom: 20px
}
.auth_form input {
    text-align: right; /*Edit In ltr*/	
}
/*End Login Authentication Page*/

/*Start Dashboard Page*/
.home-stat .stat {
	background: cadetblue;
    padding: 15px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 10px;
    color:#fff;
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}
.home-stat .stat h6 {
	margin-bottom: 0;
	font-size:14px;
}
.home-stat .stat span {
	font-size:50px;
	font-weight: 600
}
.home-stat .stat:hover {
	-webkit-box-shadow:3px 3px 10px #888;
	-moz-box-shadow:3px 3px 10px #888;
	-o-box-shadow:3px 3px 10px #888;
	box-shadow:3px 3px 10px #888;
}
.home-stat .st_member {
    background: #3498db;
}
.home-stat .st_item {
    background: #d35400
}
.home-stat .stat div {
	float:right;
	font-weight: 600;
	font-size: 50px
}
.home-stat .stat a {
	text-decoration:none;
	color:#fff;
}
.home-stat .stat i { 
	position: absolute;
	left:10px;
	top:18px;
}
.late .card-header {
	position:relative;
}
.late .card-header span {
    color: #999;
    cursor: pointer
}
.late .late_info {
	border-bottom:1px solid #ccc;
	padding:7px;
}
.late .late_info:nth-child(odd) {
	background: #eee
}
.late .late_info:last-of-type {
	border-bottom:none;
}
.late .late_info a {
	float: left /*Edit In ltr*/
}
/*End Dashboard Page*/


.wrapper .contents {
	padding: 10px;
	text-align: right; /*Edit in ltr */
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out
}
header.topbar {
	position: relative;
	width: 100%;
	height: 55px;
	padding: 14px;
	text-align: right; /* Edit In ltr */
	background: rgba(26, 77, 140, 0.81);
	color: #fff;
}
header.topbar .row {
	margin: 0;
}
header .fa-bars {
	cursor: pointer;
	margin: 0 10px;
}
header .main_title {
	color: #fff;
	text-decoration: none;
}
header .main_title:hover {
	color: #71e4ff;
	cursor: pointer
}
header.topbar .control {
	text-align: left /* Edit In ltr */
}
header.topbar .control a {
	padding: 10px;
	cursor: pointer;
	color: #fff
}
header .control a:hover {
	color: rgba(185, 216, 255, 0.81);
	text-decoration: none;
}
header .control a.dropdown-item {
	color: #000
}
header .control a.dropdown-item:hover {
	background: rgba(26, 77, 140, 0.81);
	color: #fff;
}
.side_nav {
	position: absolute;
	height: 100%;
	width: 300px;
	background: rgba(25, 70, 125, 0.81);
	padding: 10px;
	color: #fff;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out
}
.side_nav .side_head {
	margin-bottom: 10px
}
.side_nav .side_head .img-custom {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20px 0 10px;
}
.side_nav .side_content {
    margin: 0 -10px;
}
.side_nav .side_content a {
	display: block;
	color: #fff;
	text-align: right; /*Eidt In ltr*/
    padding: 7px;
	cursor: pointer
}
.side_nav .side_content a:hover {
	text-decoration: none;
	background: #4b7cb9;
}
.side_nav .side_content div {
    background: #3d618e;
}
.side_nav .side_content div.selected {
	background-color: #3a5a84;
}
.side_nav .side_content div.sub_content_child {
	background-color: #3a5a84;
    display: none
}
.side_nav .side_content .sub_content_child a {
    font-size: 13px;
    padding-right: 35px; /*Eidt In ltr*/
}
.side_nav .side_content .sub_content_child a:hover {
	color: #71e4ff
}
.contents #example-table_filter {
	text-align: left /* Edit In rtl*/
}

/*Start Section Usersgroup/create*/
.contents label {
	margin-bottom: 0
}
.contents form label.form-check-label {
    padding-right: 1.25rem; /*No Need to Edit In ltr*/
}
.contents .form-check-label input.form-check-input {
	margin-right: -1.25rem; /*No Need to Edit In ltr*/
}
.contents .custom-checkbox .custom-control-indicator {
	right: 0
}
.contents .custom-checkbox .custom-control-description {
	padding-right: 25px; /*No Need To Edit In ltr*/
}
/*End Section Usersgroup/create */

/*First Ajax Section Input Checked*/
i.ajax-times,
i.ajax-check {
	position: absolute;
	top: 35px;
	left: 30px; /*Edit In rtl*/
}
/*End Ajax Section Input Checked*/

/*Start store Products CAtegory Section*/
img.display_custom_img {
	width: 150px;
	margin-bottom: 10px
}
/*End store Products CAtegory Section*/